body{

 background:#0f172a;
 color:white;
 font-family:sans-serif;
 text-align:center;

}

.title{

 font-size:40px;
 margin-top:40px;
 animation:glow 2s infinite alternate;

}

@keyframes glow{

 from{
  text-shadow:0 0 10px cyan;
 }

 to{
  text-shadow:0 0 30px blue;
 }

}

.card{

 background:#1e293b;
 padding:30px;
 width:400px;
 margin:100px auto;

 border-radius:12px;

 box-shadow:0 0 30px rgba(0,255,255,0.3);

}

input{

 width:80%;
 padding:10px;
 margin:10px;

 border:none;
 border-radius:5px;

}

button{

 padding:10px 20px;

 background:cyan;

 border:none;
 border-radius:5px;

 cursor:pointer;

}